* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.pdd-1 {
    padding: 1rem;
}

.pdd-5 {
    padding: 5rem;
}

.pdd-btm-1 {
    padding-bottom: 1rem;
}

.pdd-top-1 {
    padding-top: 1rem;
}

.gap-1 {
    row-gap: 1rem;
}

.radius-20 {
    border-radius: 20px;
}

.circol {
    border-radius: 50%;
}

.bck-white {
    background-color: white;
}

.bck-violet {
    background-color: #9792e4;
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.align-center {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    max-width: 1600px;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.2rem;
}

img {
    width: 100%;
    display: block;
    object-fit: contain;
}

h2 {
    font-size: 3rem;
    padding: 3rem 0;
}


/* header selector  +++++++++++++++++++++++++++++++++++++ */

header {
    background-color: #0084fd;
}

nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-size: 2rem;
    color: white;
}

/* main selector  ++++++++++++++++++++++++++++++++++++++++ */

.container {
    width: 100%;
    flex-wrap: wrap;
}

.boxed {
    padding: 1rem;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-big {
    background-color: #b5ddff;
    width: 100%;
    flex-wrap: wrap;
}


.card-little {
    background-color: #b5ddff;
    width: 100%;
    text-align: center;
}

.text-card {
    color: gray;
    font-weight: bold;
}

.item {
    color: #0084fd;
    font-size: 4rem;
}



.cont-element {
    width: 100%;
}

.title-blu {
    color: #0084fd;
    font-size: 1.5rem;
    font-weight: bold;
}

.download {
    background-color: #0084fd;
    color: white;
    padding: 0.5rem 2rem;
}


.cont-img {
    width: 100%;
}


.content {
    width: 100%;
    padding: 2rem;
}

.title-planning {
    font-size: 2rem;
    font-weight: bold;
}

.arrow {
    background-color: #9792e4;
    font-size: 1.5rem;
}

.title-violet {
    color: #9792e4;
    font-size: 3rem;
}

.profile {
    background-color: #9792e4;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 50%;
}

.profile-img img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    width: 100%;
}

/* footer selector ++++++++++++++++++++++++++++++ */
footer {
    background-color: #222;
}

/* tablet layout */

@media screen and (min-width:600px) {

    body {
        background-color: green;
    }

    .tablet .card-little {
        width: calc(100% / 2 - 0.5rem);
    }


    .card-little {
        width: calc(100% / 3 - 1rem);
    }

    .card-big {
        width: calc(100% / 3 + 100% / 3 - 0.5rem);
    }

    .card-big img {
        width: 50%;
    }

    .profile {
        flex-direction: row;
    }

    .profile-img {
        width: 30%;
    }

    .profile-text {
        width: 70%;
    }


}

/* desktop layout */
@media screen and (min-width:1200px) {

    body {
        background-color: rgb(0, 124, 128);
    }

    nav {
        width: 60%;
        margin: auto;
    }

    .boxed {
        width: 60%;
    }

    .content {
        width: calc(50% - 0.5rem);
    }

    .tablet .card-little {
        background-color: aqua;
        width: calc(100% / 3 - 0.5rem);
    }

    .desktop .boxed {
        width: 40%;
    }


}