* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.pdd-1 {
    padding: 1rem;
}

.gap-1 {
    row-gap: 1rem;
}

body {
    background-color: orange;
    max-width: 1400px;
}


/* header selector  +++++++++++++++++++++++++++++++++++++ */

header {
    background-color: red;
}

nav {
    width: 100%;
    justify-content: space-between;
}

/* main selector  ++++++++++++++++++++++++++++++++++++++++ */

.container {
    width: 100%;
    flex-wrap: wrap;
}

.boxed {
    padding: 1rem;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-big {
    background-color: blue;
    width: 100%;
    flex-wrap: wrap;
}


.card-little {
    background-color: aqua;
    width: 100%;
}



.cont-element {
    width: 100%;
    background-color: white;
}

.cont-img {
    width: 100%;
    background-color: yellow;
}


.content {
    width: 100%;
    background-color: purple;
}

.profile {
    background-color: violet;
    width: 100%;
}

/* footer selector ++++++++++++++++++++++++++++++ */
footer {
    background-color: #222;
}


@media screen and (min-width:480px) {

    body {
        background-color: green;
    }

    .tablet .card-little {
        background-color: aqua;
        width: calc(100% / 2 - 0.5rem);
    }


    .card-little {
        background-color: aqua;
        width: calc(100% / 3 - 0.5rem);
    }

    .card-big {
        background-color: blue;
        width: calc(100% / 3 + 100% / 3 - 0.5rem);
    }


}